button{
    cursor: pointer;
    background: transparent;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid grey;
}
input{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid grey;
    display: block;
    margin: 10px;
}
.wrapper{
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    width: 200px;
}